# Python
__pycache__/
*.py[cod]
*.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# R
.Rproj.user/
.Rhistory
.RData
.Ruserdata
.RDataTmp
.RDataTmpDir
.Rapp.history
.Renviron
.lintr

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# PyInstaller
dist/
build/

# Sphinx documentation
docs/build/

# Testing
.coverage
htmlcov/
.pytest_cache/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.db

# Data
*.csv
*.XLSX
data/

# uv
uv.lock
.python-version